@import "../utils/variables.scss";

.container {
  background-color: $bcg-sec;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title h1 {
  color: $red;
  font: $font-h1;
  padding-top: $title-padding-top-desktop;
  padding-bottom: 50px;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
}
.card {
  padding: 10px;
  margin: 5%;
  width: 20%;
  margin-bottom: 80px;
}
.card-title,
.team-title {
  color: $red;
  font: $font-h1;
}
.card-text {
  font: $font-h3;
  font-weight: 300;
}
.timeline {
  min-width: 50%;
}
.timeline-mobile {
  display: none;
}
.icon {
  color: $green;
}
.team-title {
  margin-bottom: 110px;
}

@media only screen and (max-width: 600px) {
  .timeline {
    display: none;
  }
  .timeline-mobile {
    display: block;
    min-width: 80%;
    min-height: 100vh;
  }

  .cards-container {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-emphasis: left;
    margin-bottom: 0;
    margin-left: 12%;
    width: 80%;
    padding: 0;
  }
  .card-title {
    color: $red;
    font: $font-h1;
    font-size: 25px;
    line-height: 1.2em;
  }
  .card-text {
    font: $font-h3;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 1.2em;
  }
  .icon {
    color: $green;
    transform: scale(0.5) translate(-50%, 30%);
  }
}
