@import "../utils/colors.scss";
@import "../utils/variables.scss";

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-top: 30px;
  //   border: solid green;
}

.column-image {
  width: 100%;
}
.column-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-title {
  font: $font-h2;
  color: $black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.column-text {
  font: $font-body;
}
