@import "../utils/colors.scss";
@import "../utils/variables.scss";

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  //   border: solid yellow;
}

.row-image {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #e8e8e8;
  box-shadow: 0px 3px 6px #bfbfbf;
  // border: solid $grey;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.image {
  width: 45%;
}
.row-text-block {
  //   border: solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row-title {
  //   border: solid green;
  font: $font-h2;
  color: $red;
  padding-bottom: 30px;
  padding-right: 20px;
  //   width: 50%;
}
.row-text {
  font: $font-body;
}

@media only screen and (max-width: 1015px) {
  .row-title {
    font: $font-h3;
  }
}
@media only screen and (max-width: 675px) {
  .row {
    flex-wrap: wrap;
  }
  .row-image {
    width: 100%;
  }

  .image {
    width: 100%;
  }
  .row-text-block {
    width: 90%;
  }
  .row-title {
    //   border: solid green;
    font: $font-h3;
    color: $red;
    padding-bottom: 30px;
    //   width: 50%;
  }
}
