@import "../utils/colors.scss";
@import "../utils/variables.scss";

p {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Poppins", sans-serif;
}

.container,
.downloads {
  //   background-color: $bcg-sec;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.downloads {
  flex-direction: row;
  align-items: start;
}
.download {
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: start;
  justify-content: right;
  width: 30vw;
  text-align: left;
  background-color: $light-black;
  // border: solid red;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0px 3px 15px #0101013b;
}
.download-text {
  background-color: $dark-black;
  // margin: 1px;
  padding: 15px;
  border-radius: 0 0 30px 30px;
}
.page-title,
.page-h2 {
  color: $white;
  font: $font-h1;
  padding-top: $title-padding-top-desktop;
  padding-bottom: 50px;
}
.page-h2 {
  font: $font-h2;
}
.page-h3 {
  color: $white;
  font: $font-h2;
  min-width: 80px;
  width: 100%;
  margin: 15px 0;
  height: 100%;
  text-align: center;
  // border: solid red;
}
.dependencies {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 60vw;
  margin-bottom: 100px;
}
.dependency {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  align-items: start;
  // justify-content: right;
  padding: 5px;
  align-items: left;
  padding: 0 10px;
}
.icon {
  color: $lime-green;
  font-size: 30px;
}
.tips {
  min-width: 78px;
  background-color: $dark-black;
  text-align: center;
  padding-top: 32px;
  border-radius: 30px 0 0 30px;
}
.tips-text {
  background-color: $light-black;
  // text-align: center;
  padding: 20px;
  border-radius: 0 30px 30px 0;
}
.text {
  color: $white;
  // min-width: 220px;
  max-width: 320px;
  text-align: left;
}
.text a,
p a {
  color: $lime-green;
}
.number {
  color: $white;
  font: $font-h1;
  // font-size: 40px;
  // line-height: 50px;
  // background-color: $white;
  // min-width: 50px;
  // max-width: 50px;
  // height: 50px;
  // border-radius: 25px;
}

.hello-world {
  color: $white;
  width: 60vw;
  text-align: left;
  margin-bottom: 50px;
}
.hello-world-inner {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
}

.hello-world-inner-instructions,
.hello-world-inner-tips,
.hello-world-inner-tips2 {
  flex: 1 1 0px;
  // border: solid red;
}
.hello-world-inner-instructions {
  padding-right: 30px;
}
.hello-world-inner-tips,
.hello-world-inner-tips3 {
  margin: 50px 0;
  border-radius: 30px;
  box-shadow: 0px 3px 15px #0101013b;
  display: flex;
}

.hello-world-inner-tips3 {
  margin: 0 auto;
  // border: solid red;
}
.image {
  // padding-bottom: 80px;
  border-radius: 30px;
}
.tips-text p ul li span,
.hello-world-inner-instructions p span {
  background-color: $black-highlight;
  // color: $black;
  font-family: monospace;
  padding: 5px;
  color: $white;
}
.tips-text p ul {
  list-style: none; /* Remove default bullets */
}

.tips-text p ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $lime-green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.tips-text p ul li {
  padding-top: 20px;
}
.led-gif {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 675px) {
  .dependencies {
    flex-wrap: wrap;
  }
  .dependency {
    padding: 5px 0;
  }
  .text {
    padding: 0 0 0 10px;
    min-width: 265px;
    max-width: 265px;
  }
  .downloads {
    flex-wrap: wrap;
  }
  .download {
    width: 60vw;
  }
  .hello-world {
    width: 80vw;
  }
  .hello-world-inner {
    flex-direction: column;
  }
}
