@import "../utils/colors.scss";
@import "../utils/variables.scss";

p {
  padding-bottom: 15px;
}
.container,
.downloads {
  //   background-color: $bcg-sec;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.downloads {
  flex-direction: row;
  align-items: start;
}
.download {
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: start;
  justify-content: right;
  width: 20vw;
  text-align: left;
  background-color: $white;
  // border: solid $black;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 0 3px 8px 0 rgba(50, 50, 50, 0.9),
    0 2px 10px 0 rgba(250, 250, 250, 0.3);
}
.download-text {
  background-color: $black;
  margin: 1px;
  padding: 15px;
  border-radius: 0 0 25px 25px;
}
.page-title,
.page-h2 {
  color: $white;
  font: $font-h1;
  padding-top: $title-padding-top-desktop;
  padding-bottom: 50px;
}
.page-h2 {
  font: $font-h2;
}
.page-h3 {
  background-color: $white;
  color: $black;
  font: $font-h2;
  min-width: 80px;
  margin: 15px;
  height: 100%;
  text-align: left;
}
.dependencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dependency {
  display: flex;
  padding: 5px;
  align-items: center;
}
.text {
  color: $white;
  padding: 0 10px;
  min-width: 220px;
  max-width: 320px;
  text-align: left;
}
.number {
  color: $black;
  font-size: 40px;
  line-height: 50px;
  background-color: $white;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 25px;
}

.hello-world {
  color: $white;
  width: 40vw;
  text-align: left;
}
.image {
  padding-bottom: 80px;
}
span {
  background-color: $black-highlight;
  // color: $black;
  font-family: monospace;
  padding: 5px;
}
@media only screen and (max-width: 675px) {
  .dependency {
    padding: 5px 0;
  }
  .text {
    padding: 0 0 0 10px;
    min-width: 265px;
    max-width: 265px;
  }
  .downloads {
    flex-wrap: wrap;
  }
  .download {
    width: 60vw;
  }
  .hello-world {
    width: 80vw;
  }
}
