@import "../utils/colors.scss";
@import "../utils/variables.scss";

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-image {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.row-image-mobile {
  display: none;
}
.row-text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.row-title h1 {
  font: $font-h2;
  color: $red;
  padding-bottom: 30px;
}
.row-text,
.row-text-center {
  font: $font-body;
}
.row-text-center {
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 675px) {
  .row {
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row-image {
    display: none;
  }
  .row-image-mobile {
    display: block;
    width: 90%;
    margin-bottom: 50px;
  }
  .row-text-block {
    width: 90%;
  }
  .row-text-center {
    display: none;
  }
}
