@import "../utils/colors.scss";
@import "../utils/variables.scss";

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-top: 30px;
}

.row-image {
  width: 50%;
}
.row-text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row-title {
  font: $font-h2;
  color: $red;
  padding-bottom: 30px;
}
.row-text {
  font: $font-body;
}

@media only screen and (max-width: 675px) {
  .row {
    flex-wrap: wrap;
  }
  .row-image {
    width: 100%;
  }
  .row-text-block {
    width: 90%;
  }
}
