@import "../utils/colors.scss";
@import "../utils/variables.scss";

.button-green,
.button-black {
  font: $font-h4;
  margin-top: 20px;
  border-radius: 40px;
  padding: 12px 36px;
  color: $white;
  border: none;
  outline: 0 !important;
}
.button-black {
  background-color: $black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-black:visited {
  background-color: $black;
}
.button-black:focus {
  background-color: $black;
}
.button-black:hover {
  background-color: $black-highlight;
}
.button-black:active {
  background-color: $black;
}
.button-green {
  background-color: $green;
  box-shadow: 0px 3px 6px $green-shadow;
}
.button-green:visited {
  background-color: $green;
}
.button-green:focus {
  background-color: $green;
}
.button-green:hover {
  background-color: $green-highlight;
}
.button-green:active {
  background-color: $green;
}
