@import "../utils/colors.scss";

.carousel-container {
  width: 100vw;
  height: 220px;
  display: flex;
  margin-bottom: 100px;
}
.carousel-container-mobile {
  display: none;
}

.carousel-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.team-member-card {
  position: relative;
  .team-member-name {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.5em;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    font-weight: bold;
  }
  .team-member-pos {
    font-weight: 300;
  }
  .team-member-image {
    display: block;
  }
}
.team-member-card:hover {
  .team-member-name {
    opacity: 1;
  }
  .team-member-image {
    border: solid $white;
    opacity: 0.3;
  }
}

@media only screen and (max-width: 880px) {
  .carousel-container-mobile {
    display: flex;
    width: 100vw;
    height: 220px;
    margin-bottom: 100px;
  }
  .carousel-container {
    display: none;
  }
}
