@import "../utils/colors.scss";
@import "../utils/variables.scss";

body {
  background-color: $black;
}
.container {
  margin: 0 auto;
  width: auto;
  border: 0 !important;
}
.site {
  margin: 0 auto;
  width: auto;
}
.site-content {
  min-height: calc(100vh - 195px - 59px);
  margin-top: 59px;
  font-family: $font-family-main;
}
