@import "../utils/colors.scss";
.container {
  margin: 0 auto;
  width: auto;
  background-color: $black;
  margin: 0 !important;
}
.site {
  margin: 0 auto;
  width: auto;
}
.site-content {
  min-height: calc(100vh - 195px - 59px);
  margin-top: 59px;
}
