@import "../utils/colors.scss";
@import "../utils/variables.scss";

.menu-item,
.menu-item-middle,
.menu-item-selected,
.menu-item-middle-selected {
  font-family: $font-family-sec-mobile;
  font-weight: 300;
  font-size: 22px;
  color: $grey;
  padding: 5px 45px;
  margin: 0;
  text-align: center;
  //   border: s÷olid green;
}
.menu-item:hover,
.menu-item-middle:hover {
  text-decoration: none;
  color: $grey;
}
.menu-item:active,
.menu-item-middle:active {
  color: $black;
}
.menu-item-selected,
.menu-item-middle-selected {
  color: $black;
  font-weight: bold;
}
.menu-item-middle,
.menu-item-middle-selected {
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
}
.menu-item-container {
  display: inline-block;
}
@media only screen and (max-width: 675px) {
  .menu-container {
    text-align: center;
    flex-wrap: nowrap;
    // border: solid orange;
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: flex-start;
  }
  .menu-item-container,
  .menu-item-container-selected {
    width: 110px;
    border: solid green;
    background-color: $grey;
  }
  .menu-item-container-selected {
    width: 110px;
    border: solid green;
    margin: 2px;
  }
  .menu-item,
  .menu-item-middle,
  .menu-item-selected,
  .menu-item-middle-selected {
    margin: 2px;
    // border: solid green;
    font: $font-h4-mobile;
    padding: 8px 12px;
    background-color: $grey;
    color: $white;
    box-shadow: 0 3px 10px 1px #888888;
  }
  .menu-item-selected,
  .menu-item-middle-selected {
    font: $font-h4-mobile;
    // font-weight: bold;
    background-color: $black;
  }
}
