$black: #212121;
$dark-black: rgb(17, 17, 17);
$light-black: rgb(42, 42, 42);
$black-highlight: #333333;
$white: #efefef;
$pure-white: #ffffff;
$red: #c62f2e;
$green: #2aa75e;
$lime-green: rgb(164, 214, 79);
$green-highlight: #238d4f;
$green-shadow: #25bf7d80;
$grey: #8f8f8f;
